<!DOCTYPE html>
<html ng-app="aif" data-framework="typescript" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/aif.css">
    <link rel="stylesheet" href="css/tether-theme-arrows.css">

    <script src="js/libs/jquery/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="css/tether.min.css">
    <script src="js/libs/bootstrap/tether.min.js"></script>

    <!--<link rel="stylesheet"-->
          <!--href="https://use.edgefonts.net/c/37311d/1w;lato,1,c0m:W:i1,c0q:W:i3,c0s:W:i4,c0y:W:i7,c12:W:i9,c0l:W:n1,c0p:W:n3,c0r:W:n4,c0x:W:n7,c11:W:n9/l"-->
          <!--media="all">-->
    <!--<script src="//use.edgefonts.net/lato:n9,i4,n1,i7,i9,n7,i1,i3,n4,n3:all.js" type="text/javascript"></script>-->

    <style>[ng-cloak] {
        display: none;
    }</style>

</head>
<body>

<div id="register-reminder" class="tether-theme-arrows tether-open">

    <div class="tether-content">

        <header>
            <div class="close-button pull-right">X</div>
        </header>

        <div class="reg-message">
            <p>
                New functionality has been added to the AMEC Integrated Evaluation Framework to improve the user experience. </p>
            <p>Now you can save the progress of your work and can save and edit up to 10 different frameworks per user account.</p>
            <p> To do so you must register, create an account and log in. While it is not compulsory to do so, this important new functionality is only available once logged into your account. Please either sign in or register if it’s your first time here to begin.  Don’t worry, use of the framework remains completely free!

            </p>
        </div>

        <footer>
            <ul class="reg-buttons">
                <div class="pull-right btn btn-reg">Got it</div>
            </ul>
        </footer>
    </div>

</div>

<div ng-cloak class="main container" ng-controller="appCtrl as ac">
    <div ng-if="ac.initialised" class="control-row row">

        <div class="col-md-6 low-pad-cell" ng-if="ac.vs.displayGrid">
            <div class="aif-button background-dark_blue bottom-dark-border-dark_blue"
                 ng-click="ac.showLogin()" ng-if="!ac.isLoggedIn()">
                Login
            </div>
            <div id="register-button" class="aif-button background-dark_blue bottom-dark-border-dark_blue"
                 ng-click="ac.showRegister()" ng-if="!ac.isLoggedIn()">
                Register
            </div>

            <div ng-if="ac.isLoggedIn()">
                <h4 ng-click="ac.viewAccount()" >
                    <a class="account-button"></a> Welcome {{ ac.currentUser.firstName }}</h4>
            </div>

        </div>


        <div class="col-md-6 low-pad-cell text-right" ng-if="ac.vs.displayGrid">



            <span class="framework-name" ng-if="ac.currentFramework" ng-click="ac.viewAccount()">
            <h4> {{ ac.currentFramework.name }}</h4>
            </span>


            <div ng-click="ac.saveProgress()"
                 class="aif-button background-bright_green bottom-dark-border-bright_green">
                Save Progress
            </div>

            <div ng-click="ac.submitFramework()"
                 class="aif-button background-bright_green bottom-dark-border-bright_green">Submit</div>


        </div>

        <div class="col-md-12 low-pad-cell text-right" ng-if="ac.vs.displaySummary">


            <div ng-click="ac.vs.showGrid()"
                 class="aif-button background-bright_green bottom-dark-border-bright_green">Edit</div>

            <div ng-click="ac.downloadAifPdf()"
                 class="aif-button background-red bottom-dark-border-red">Download Pdf</div>


        </div>


    </div>

    <div class="anim-box" ng-class="{'show-load': ac.displayAside}">

        <div class="aside" >
            <p>Load</p>
        </div>


        <div class="main" ng-click="ac.toggleAside()">
            <h5>Some long text in here, Some long text in here</h5>

        </div>


    </div>

    <div id="frameworkGridWrapper" ng-controller="frameworkCtrl as ctrl" ng-if="ac.vs.displayGrid">
        <div class="base-framework">

            <div class="row" ng-repeat="row in ctrl.rows">
                <div class="low-pad-cell" ng-repeat="step in row.cells"
                     ng-class="{'col-md-4': step.colSpan === 1, 'col-md-8': step.colSpan === 2}">
                    <div class="aif-tile" ng-class="ctrl.getColorClass('background', step)"
                         ng-click="ctrl.handleStepClick(step)">
                        <div class="bg-cloak" ng-if="ac.vs.fadeBg"
                             ng-click="ctrl.clearEditMode()"></div>
                        <h2 ng-if="!step.isSubmit">{{ step.title }}</h2>
                        <div ng-if="!step.isSubmit" class="anchor-bottom"
                             ng-class="ctrl.getColorClass('bottom-dark-border', step)">
                            <div class="start-message" ng-class="ctrl.getColorClass('background-dark', step)" ng-if="step.index == 1">
                                Start Here
                            </div>
                            <div class="circle-border" ng-class="ctrl.getColorClass('background-dark', step)">
                                {{step.index}}
                            </div>
                        </div>

                        <p class="submit-text" ng-if="step.isSubmit">
                            Click on submit button to view your content in the Integrated Evaluation Framework by AMEC.
                        </p>

                        <div ng-if="step.isSubmit" data-bind="if: isSubmit"
                             class="anchor-bottom background-bright_green bottom-dark-border-bright_green">
                            <span class="button-label" data-bind="text: title">SUBMIT</span>
                        </div>


                    </div>

                </div>

            </div>
        </div>

        <div id="loginRow" class="login-row-container">

            <aif-login-screen ng-controller="loginCtrl as lc"
                              ng-if="ac.vs.displayLogin">
            </aif-login-screen>

            <aif-account-screen ng-controller="accountViewCtrl as av"
                              ng-if="ac.vs.displayAccount">
            </aif-account-screen>

            <aif-create-fw-screen ng-controller="createFrameworkCtrl as cf"
                              ng-if="ac.vs.displayCreate">
            </aif-create-fw-screen>

            <aif-save-as-screen ng-controller="saveAsCtrl as sa"
                                ng-if="ac.vs.displaySaveAs">

            </aif-save-as-screen>

            <aif-register-screen ng-controller="registerCtrl as rc"
                                 ng-if="ac.vs.displayRegister">

            </aif-register-screen>

            <aif-reset-password ng-controller="resetPasswordCtrl as rp"
                                ng-if="ac.vs.displayFtnDetails"
                                 >
            </aif-reset-password>

        </div>


        <div ng-cloak ng-if="ctrl.editMode && ctrl.vs.displayEdit" class="entries">
            <div ng-repeat="row in ctrl.rows">
                <div class="row" ng-if="ctrl.editStep.row > $index + 1">
                    <div class="col-md-12 low-pad-cell">
                        <div class="aif-tile"></div>
                    </div>
                </div>

                <div class="row" ng-repeat="step in row.cells" ng-if="step.showInput">
                    <div class="low-pad-cell" ng-repeat="cell in step.inputRow"
                         ng-class="{'col-md-4': cell.colSpan === 1, 'col-md-8': cell.colSpan === 2}">
                        <div class="aif-tile" ng-if="ctrl.isEmpty(cell)">
                            <div class="empty"></div>
                        </div>
                        <div class="aif-tile" ng-if="ctrl.isInput(cell)">
                            <div class="aif-input"
                                 ng-class="ctrl.getColorClass('background', step)">
                                <div class="header" ng-class="ctrl.getColorClass('background-light', step)">
                                    <h3>{{ step.title }}</h3>
                                    <div class="border-caret" ng-click="ctrl.clearEditMode()">
                                        <div class="caret-left"></div>
                                        <div class="caret-right"></div>
                                    </div>
                                </div>
                                <div class="section" ng-repeat="item in cell.items">
                                    <h4>{{ item.heading }} </h4>
                                    <p class="sub-heading" ng-if="item.subHeading">
                                        {{ item.subHeading }}
                                    </p>
                                    <div class="inputs-container">
                                        <div class="info-button" ng-click="ctrl.showInfoCell(item, cell.infoCell)">
                                            <span>i</span>
                                        </div>

                                        <textarea ng-model="item.frameworkEntry.text"></textarea>

                                    </div>


                                </div>


                                {{ cell.subHeading }}

                            </div>

                        </div>

                        <aif-list-input-tile ng-if="ctrl.isListInput(cell)" cell="cell" step="step"
                        ></aif-list-input-tile>

                        <div class="aif-tile" ng-if="ctrl.isInfo(cell) && cell.visible">

                            <div class="info">
                                <p>
                              <span class="lead-in">
                {{ cell.leadText }}
              </span>
                                    {{ cell.remainText }}
                                </p>
                                <p>
                                    For further information <a class="further-info-link">click here</a>

                                </p>


                            </div>
                        </div>


                    </div>
                </div>

            </div>


        </div>



    </div>

    <aif-framework-summary ng-if="ac.vs.displaySummary">

    </aif-framework-summary>
</div>


</div>
<script src="js/generate-pdf.js" type="text/javascript"></script>

<script src="js/libs/bootstrap/tether.js" type="text/javascript"></script>
<script src="js/libs/angular/angular.min.js" type="text/javascript"></script>
<script src="js/libs/angular/angular-cookies.js" type="text/javascript"></script>

<script src="node_modules/angular-click-outside/angular-click-outside.js" type="text/javascript"></script>
<script src="js/Application.js"></script>

</body>
</html>