.rotate {

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}


#frameworkSummary {

  margin: 10px -15px 0 -15px;

  .summary-row {
    margin-bottom: 12px;


  }

  .summary-section{


    position: relative;

    &.imp {
      width: 250px;
      display: inline-block;
    }

    &.mes {
      width: 900px;
      display: inline-block;
      margin-left: 15px;
    }

  }

  .low-pad-row {
    margin-left: -3px;
    margin-right: -3px;
  }

  .low-pad-cell{
    padding: 0 3px 0 3px;
  }

  .prep {

    .section-header{
      height: 236px;
      background-image: url('../images/ss-header-1.png');

    }

  }

  .imp {
    .section-header{
      height: 582px;
      background-image: url('../images/ss-header-2.png');
    }

    .summary-box {
      height: 582px;
    }
  }

  .mes {
    .section-header{
      height: 582px;
      background-image: url('../images/ss-header-3.png');
    }

    .summary-box {
      height: 582px;
    }
  }

  .section-header {

    background-color: rgb(138, 138, 138);
    width: 34px;
    float: left;
    padding-top: 160px;
    background-position: 2px 0;
    background-size: contain;



  }

  .section-content {

    margin-left:42px;

    h5.summary-heading {
      font-size: .8em;
      height: 24px;
      line-height: 24px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      margin: 0 0 4px 0;
      padding: 0;

      &.joined {
        margin-bottom: 0;
      }
    }

    .summary-box {

      padding: 4px 8px;
      min-height: 184px;

      &.first-row {
        max-height: 200px;
      }

    }



  }

}