<div class="row ">

    <div class="col-md-8 low-pad-cell">

        <div class="aif-tile account-screen long">
            <a class="btn btn-link close-button pull-right" ng-click="cf.close()">X</a>
            <h2>{{ cf.title }}</h2>
            <h4 ng-if="cf.createMessage"> {{ cf.createMessage }} </h4>


            <div class="login-box-group">

                <form name="formCreate" novalidate class="css-form" ng-submit="cf.submitAction(formCreate)">

                    <div class="form-group">
                        <label for="nFrameworkName">
                            {{ cf.vs.getCopyForKey('NF_FWN', 'Framework name')  }}
                        </label>
                        <input type="text" ng-model="cf.newFrameworkName" required
                               class="form-control" id="nFrameworkName"
                               name="nFrameworkName" placeholder="{{ cf.vs.getCopyForKey('NF_FWN', 'Framework name')  }}">
                        <div class="form-validation-error"
                             ng-show="formLoad.$submitted || formLoad.nFrameworkName.$touched">
                            <span ng-show="formLoad.nFrameworkName.$error.required">
                                {{ cf.vs.getCopyForKey('NF_FWN_VM', 'You must provide a name for your framework.')  }}
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nframeworkDesc">
                            {{ cf.vs.getCopyForKey('NF_FWD', 'Description')  }}
                        </label>
                        <textarea id="nframeworkDesc" type="text" rows="5" class="form-control"
                                  name="nframeworkDesc" ng-model="cf.newFrameworkDescription"
                                  placeholder="{{ cf.vs.getCopyForKey('NF_FWD_PH', 'Optionally add any notes here')  }}"></textarea>

                    </div>


                    <div class="form-group">
                        <input ng-if="!cf.editMode"
                               class="btn aif-button background-dark_blue bottom-dark-border-dark_blue"
                               type="submit" value="{{ cf.vs.getCopyForKey('NF_CTB', 'Create')  }}">
                        <input ng-if="cf.editMode"
                               class="btn aif-button background-dark_blue bottom-dark-border-dark_blue"
                               type="submit" value="{{ cf.vs.getCopyForKey('NF_SVB', 'Save')  }}">
                        <a class="text-link lge" ng-click="cf.vs.resetView()"
                           title="You can click save progress to come back at any time"
                        >{{ cf.cancelButtonText }}</a>

                    </div>

                </form>

            </div>

<div class="clearfix"></div>

            <p class="account-layout" ng-if="cf.hasFrameworks">
                {{ cf.vs.getCopyForKey('NF_OSV', 'Or save over ')  }}
                <a ng-click="cf.showSaveAs()" >
                    {{ cf.vs.getCopyForKey('NF_OSL', 'an existing framework')  }}
                </a>
            </p>

        </div>


    </div>
</div>