<div class="row ">

    <div class="col-md-8 low-pad-cell">

        <div class="aif-tile account-screen">
            <a class="btn btn-link close-button pull-right" ng-click="fp.close()">X</a>
            <h2>Send Password Reminder</h2>
            <h3 class="login-message">
                <a class="heading-link"
                   ng-click="fp.vs.showLogin()">
                    Go back

                </a></h3>
            <div class="login-box-group">
                <form name="formRp" novalidate class="css-form" ng-submit="fp.sendReset(formRp)" ng-if="!fp.linkSent">
                    <p class="status"></p>
                    <?php wp_nonce_field('ajax-login-nonce', 'security'); ?>

                    <div class="form-group">
                        <label for="fdEmail">Email address</label>
                        <input id="fdEmail" ng-model="fp.email" required type="email"
                               class="form-control" name="fdEmail"
                               placeholder="Email Address">

                        <div class="form-validation-error" ng-show="formFp.$submitted || form.fdEmail.$touched">
                            <span ng-show="formFp.fdEmail.$error.required">Tell us your email.</span>
                            <span ng-show="formFp.fdEmail.$error.email">This is not a valid email.</span>
                            <span ng-show="fp.resetError">{{ fp.resetError }}.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="btn aif-button aif-button-wide background-dark_blue bottom-dark-border-dark_blue"
                               type="submit" value="Send reset link">

                    </div>

                </form>

            </div>

                <div ng-if="fp.linkSent">
                    <p class="account-layout"  >
                        We have emailed you a link to reset your password.
                    </p>

                    <p>
                        You should receive it in the next few minutes.
                    </p>

                    <p class="account-layout"  >
                        Haven't received it?  <a ng-click="fp.resend()">Click here to resend</a>

                    </p>

                    <div class="form-group" ng-if="fp.linkSent">
                        <input class="btn aif-button aif-button-wide background-dark_blue bottom-dark-border-dark_blue"
                               type="button" ng-click="fp.vs.resetView()" value="Close">

                    </div>
                </div>

        </div>

    </div>
</div>