<div class="row ">

    <div class="col-md-8 low-pad-cell">

        <div class="aif-tile account-screen">
            <a class="btn btn-link close-button pull-right" ng-click="fp.close()">X</a>
            <h2>
                {{ fp.vs.getCopyForKey('FP_TTL', 'Reset Password')  }}
            </h2>
            <h3 class="login-message">
                <a class="heading-link"
                   ng-click="fp.vs.showLogin()">
                    {{ fp.vs.getCopyForKey('FP_BKL', 'Go back')  }}

                </a></h3>
            <div class="login-box-group">
                <form name="formRp" novalidate class="css-form" ng-submit="fp.sendReset(formRp)" ng-if="!fp.linkSent">
                    <p class="status"></p>
                    <?php wp_nonce_field('ajax-login-nonce', 'security'); ?>

                    <div class="form-group">
                        <label for="fdEmail">
                            {{ fp.vs.getCopyForKey('FP_EML', 'Email address')  }}
                        </label>
                        <input id="fdEmail" ng-model="fp.email" required type="email"
                               class="form-control" name="fdEmail"
                               placeholder="{{ fp.vs.getCopyForKey('FP_EML', 'Email address')  }}">

                        <div class="form-validation-error" ng-show="formRp.$submitted || formRp.fdEmail.$touched">
                            <span ng-show="formRp.fdEmail.$error.required">
                                {{ fp.vs.getCopyForKey('FP_EML_VM', 'Tell us your email.')  }}
                            </span>
                            <span ng-show="formRp.fdEmail.$error.email">
                                {{ fp.vs.getCopyForKey('FP_EMP_VI', 'This is not a valid email.')  }}
                            </span>
                            <span ng-show="fp.resetError">{{ fp.resetError }}.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="btn aif-button aif-button-wide background-dark_blue bottom-dark-border-dark_blue"
                               type="submit" value="{{ fp.vs.getCopyForKey('FP_RSB', 'Send reset link')  }}">

                    </div>

                </form>

            </div>

                <div ng-if="fp.linkSent">
                    <div ng-bind-html="fp.vs.getCopyForKey('FP_EMT', '<p>We have emailed you a link to reset your password.</p><p>You should receive it in the next few minutes.</p>', true) ">

                    </div>

                    <p class="account-layout"  >
                        {{ fp.vs.getCopyForKey('FP_NRT', 'Haven\'t received it? ')  }} <a ng-click="fp.resend()">
                        {{ fp.vs.getCopyForKey('FP_RST', 'Click here to resend')  }}
                    </a>

                    </p>

                    <div class="form-group" ng-if="fp.linkSent">
                        <input class="btn aif-button aif-button-wide background-dark_blue bottom-dark-border-dark_blue"
                               type="button" ng-click="fp.vs.resetView()" value="{{ fp.vs.getCopyForKey('FP_CLS', 'Close')  }}">

                    </div>
                </div>

        </div>

    </div>
</div>