<div id="input-grid" class="entries">


    <div ng-repeat="row in ig.rows">

        <div class="row" ng-if="row.isEmpty()" ng-click="ig.close()">
            <div class="col-md-12 low-pad-cell">
                <div class="aif-tile"></div>
            </div>
        </div>

        <div class="row" ng-if="!row.isEmpty()">

            <div class="low-pad-cell" ng-repeat="cell in row.cells"
                 ng-class="{'col-md-4': cell.colSpan !== 2, 'col-md-8': cell.colSpan === 2}">

                <div class="aif-tile">
                    <div class="empty full-size-child" ng-if="cell.isEmpty() || !ig.infoText"
                         ng-click="ig.close()"></div>
                    <div class="info" ng-if="cell.isInfo() && ig.infoText">

                        <div class="main-info">
                            <div class="close-button" ng-click="ig.hideInfo()">X</div>
                            <p ng-bind-html="ig.infoText">

                            <p>
                                For further information <a ng-click="ig.toggleFurtherInfo()" class="further-info-link">click here</a>
                            </p>
                        </div>

                        <div ng-show="ig.showFurtherInfo"  class="further-info" ng-class="'further-info-' + ig.step.stepIndex">
                            <div class="close-button" ng-click="ig.toggleFurtherInfo()">X</div>


                        </div>
                    </div>
                    <div class="aif-input" ng-if="cell.isInput()"
                         ng-class="ig.getColorClass('background')">

                        <div class="header" ng-class="ig.getColorClass('background-light')" ng-click="ig.close()">
                            <h3>{{ ig.step.heading }}</h3>
                            <div class="border-caret" >
                                <div class="caret-left"></div>
                                <div class="caret-right"></div>
                            </div>
                        </div>
                        <div class="section" ng-repeat="input in ig.step.inputs"
                             ng-class="{'demi' : ig.step.inputs.length > 1 && ig.step.colSpan > 1  }">
                            <h4 ng-if="input.heading">{{ input.heading }} </h4>
                            <p class="sub-heading" ng-bind-html="ig.sanitize(input.subHeading)" ng-if="input.subHeading">
                            </p>


                            <div class="inputs-container">
                                <div class="info-button" ng-click="ig.showInfo(input)">
                                    <span>i</span>
                                </div>

                                <div class="peso-header" ng-if="input.isKeyedPair()">
                                    <div class="peso-button-header">
                                        <div ng-class="ig.getColorClass('background-dark')">P</div>
                                        <div ng-class="ig.getColorClass('background-dark')">E</div>
                                        <div ng-class="ig.getColorClass('background-dark')">S</div>
                                        <div ng-class="ig.getColorClass('background-dark')">O</div>
                                    </div>
                                    <div class="peso-desc">
                                        <span>P=Paid</span>
                                        <span>E=Earned</span>
                                        <span>S=Shared</span>
                                        <span>O=Owned</span>
                                    </div>

                                </div>

                                <div class="input-entry" ng-repeat="value in input.values">

                                    <!-- Free text box -->
                                    <textarea ng-if="value.isFreeText()" ng-model="value.text"
                                              ng-class="{'medium': input.textLimit > 500}"></textarea>
                                    <!-- End of free text box -->

                                    <!-- Numbered boxes -->

                                    <div class="input-index" ng-if="value.isNumberedText()">{{($index + 1) + "." }}
                                    </div>
                                    <div class="numbered-input" ng-if="value.isNumberedText()">

                                        <input type="text" ng-model="value.text">

                                    </div>

                                    <!-- End of numbered boxes -->

                                    <!-- Keyed pairs -->

                                    <div class="peso-entry" ng-if="value.isKeyedPair()">

                                        <div class="input-index">{{($index + 1) + "." }}
                                        </div>

                                        <div class="peso-buttons">
                                            <div ng-class="ig.getColorClass('background-light')">
                                                <input type="radio" ng-model="value.key" value="P">
                                            </div>
                                            <div ng-class="ig.getColorClass('background-light')">
                                                <input type="radio" ng-model="value.key" value="E">
                                            </div>
                                            <div ng-class="ig.getColorClass('background-light')">
                                                <input type="radio" ng-model="value.key" value="S">
                                            </div>
                                            <div ng-class="ig.getColorClass('background-light')">
                                                <input type="radio" ng-model="value.key" value="O">
                                            </div>
                                        </div>

                                        <div class="peso-input">
                                            <input type="text" ng-model="value.text">
                                        </div>

                                    </div>


                                    <!-- End of keyed pairs -->

                                </div>


                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>

    </div>


</div>