<div class="row"  >

    <div class="col-md-8 low-pad-cell">

        <div class="aif-tile account-screen full-size-child">
            <a class="btn btn-link close-button pull-right" ng-click="lc.vs.resetView()">X</a>
            <h2 >
{{ lc.vs.getCopyForKey('LGN_TTL', 'Login')  }}
                </h2>

            <h4 class="login-message" ng-if="lc.showNeedMessage"
                >
{{ lc.vs.getCopyForKey('LGN_FSM', 'You need to be logged in to save progress.')  }}

            </h4>
            <p class="account-layout" ng-if="lc.showNeedMessage">
                <span >
{{ lc.vs.getCopyForKey('LGN_FSI', 'Log in below or ')  }}
                    </span>
                 <a ng-click="lc.switchToRegister()"
                    >
{{ lc.vs.getCopyForKey('LGN_FSL', 'click here to create an account')  }}
                     </a>
            </p>

            <h3 ng-if="!lc.showNeedMessage" class="login-message">
                <span >
{{ lc.vs.getCopyForKey('LGN_NAT', 'New here? ')  }}

                </span>
                <a class="heading-link" id="pop_register" ng-click="lc.vs.showRegister()">
                    {{ lc.vs.getCopyForKey('LGN_NAL', 'Create an account') }}

                </a>
            </h3>

            <br>
            <div class="login-box-group">
                <form name="form" novalidate class="css-form" ng-submit="lc.login(form)">
                    <div class="form-group">
                        <label for="email" >
                            {{ lc.vs.getCopyForKey('LGN_EML', 'Email')  }}</label>
                        <input id="email" ng-model="lc.email" required type="email"
                               class="form-control" name="uEmail"
                               placeholder="{{ lc.vs.getCopyForKey('LGN_EML', 'Email')  }}"
                               ng-disabled="lc.vs.displaySelectFramework">
                        <div class="form-validation-error"
                             ng-show="form.$submitted || form.uEmail.$touched">
                            <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
                            <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
                        </div>

                    </div>


                    <div class="form-group" ng-if="!lc.vs.displaySelectFramework">
                        <label for="uPassword">Password</label>
                        <input type="password" ng-model="lc.password" required
                               class="form-control" id="uPassword" name="uPassword" placeholder="Password">
                        <div class="form-validation-error"
                             ng-show="form.$submitted || form.uPassword.$touched">
                            <span ng-show="form.uPassword.$error.required">Tell us your password.</span>
                        </div>

                        <div class="form-validation-error"  ng-show="lc.loginFailure">
                            <span>{{ lc.loginMessage }}</span>
                        </div>

                        <div ng-if="lc.loginMessage && !lc.loginFailure">
                            {{ lc.loginMessage }}
                        </div>
                    </div>


                    <p class="text-link" ng-if="lc.vs.displaySelectFramework">Successfully logged
                        in</p>

                    <div class="form-group">
                        <div class="little-loader" ng-show="lc.waiting"></div>
                        <input ng-hide="lc.waiting" class="btn aif-button background-dark_blue bottom-dark-border-dark_blue"
                               type="submit" value="Login">
                        <a class="text-link" ng-click="lc.vs.showForgottenDetails()">Lost password?</a>
                    </div>

                </form>

            </div>

        </div>


    </div>

</div>