
<div class="row"  ng-if="false">

    <div class="col-md-8 low-pad-cell">

        <div class="aif-tile account-screen">
            <a class="btn btn-link close-button pull-right" ng-click="ac.hideLoginBox()">X</a>
            <h2>Login</h2>

            <h3 class="login-message">
                <span ng-bind-html="ac.displayLogic.loginMessageQ"></span>
                <a class="heading-link" id="pop_signup" ng-click="ac.showRegister()">
                    {{ ac.displayLogic.loginMessageA }}
                </a>
            </h3>
            <div class="login-box-group">
                <form name="form" novalidate class="css-form" ng-submit="ac.login(form)">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" ng-model="ac.userModel.email" required type="email"
                               class="form-control" name="uEmail"
                               placeholder="Email Address"
                               ng-disabled="ac.displayLogic.displaySelectFramework">
                        <div class="form-validation-error"
                             ng-show="form.$submitted || form.uEmail.$touched">
                            <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
                            <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
                        </div>

                    </div>


                    <div class="form-group" ng-if="!ac.displayLogic.displaySelectFramework">
                        <label for="uPassword">Password</label>
                        <input type="password" ng-model="ac.userModel.password" required
                               class="form-control" id="uPassword" name="uPassword" placeholder="Password">
                        <div class="form-validation-error"
                             ng-show="form.$submitted || form.uPassword.$touched">
                            <span ng-show="form.uPassword.$error.required">Tell use your password.</span>
                        </div>
                    </div>


                    <p class="text-link" ng-if="ac.displayLogic.displaySelectFramework">Successfully logged
                        in</p>

                    <div class="form-group" ng-if="!ac.displayLogic.displaySelectFramework">
                        <input class="btn aif-button background-dark_blue bottom-dark-border-dark_blue"
                               type="submit" value="Login">
                        <a class="text-link" ng-if="!ac.displayLogic.displaySelectFramework"
                           ng-click="ac.showForgottenDetails()">Lost password?</a>
                    </div>

                </form>

                <form name="formLoad" novalidate class="css-form" ng-if="ac.displayLogic.hasExistingFrameworks"
                      ng-submit="ac.loadOrCreateFramework(formLoad)">
                    <p> Select an existing framework to load... </p>
                    <div class="form-group" >
                        <label for="email">Existing frameworks</label>
                        <select id="eFramework" ng-model="ac.savedFrameworkModel.existingFrameworkId"
                                class="form-control dropdown" name="eFramework"
                        >
                            <option ng-repeat="framework in ac.app.user.frameworks" ng-value="framework.id">
                                {{ framework.name }}
                            </option>
                        </select>


                    </div>


                    <div class="form-group">
                        <input class="btn aif-button background-dark_blue bottom-dark-border-dark_blue"
                               type="submit" value="Load">
                    </div>

                </form>
            </div>


            <div class="login-box-group" ng-if="ac.displayLogic.displaySelectFramework">


                <form name="formCreate" novalidate class="css-form" ng-submit="ac.loadOrCreateFramework(formCreate)">
                    <p> {{ ac.displayLogic.createMessage }} </p>
                    <div class="form-group">
                        <label for="nFrameworkName">Name</label>
                        <input type="text" ng-model="ac.savedFrameworkModel.newFrameworkName" required
                               class="form-control" id="nFrameworkName"
                               name="nFrameworkName" placeholder="Framework name">
                        <div class="form-validation-error"
                             ng-show="formLoad.$submitted || formLoad.nFrameworkName.$touched">
                            <span ng-show="formLoad.nFrameworkName.$error.required">You must provide a name for your framework.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nframeworkDesc">Description</label>
                        <textarea id="nframeworkDesc" type="text" rows="5" class="form-control"
                                  name="nframeworkDesc" ng-model="ac.savedFrameworkModel.newFrameworkDescription"
                                  placeholder="Optionally add any notes here "></textarea>

                    </div>


                    <div class="form-group">
                        <input class="btn aif-button background-dark_blue bottom-dark-border-dark_blue"
                               type="submit" value="Create">
                    </div>

                </form>

            </div>

        </div>


    </div>

</div>


<div class="row " ng-if="false">

    <div class="col-md-8 low-pad-cell">

        <div class="aif-tile account-screen long">
            <a class="btn btn-link close-button pull-right" ng-click="ac.hideLoginBox()">X</a>
            <h2>Login succesful!</h2>
            <h3 class="login-message">&nbsp;</h3>

            <div class="login-box-group">

                <form name="formLoad" novalidate class="css-form" ng-if="lc.vs.hasExistingFrameworks"
                      ng-submit="ac.loadOrCreateFramework(formLoad)">
                    <p> Select an existing framework to load... </p>
                    <div class="form-group" >
                        <label for="email">Existing frameworks</label>
                        <select id="eFramework" ng-model="ac.savedFrameworkModel.existingFrameworkId"
                                class="form-control dropdown" name="eFramework"
                        >
                            <option ng-repeat="framework in ac.app.user.frameworks" ng-value="framework.id">
                                {{ framework.name }}
                            </option>
                        </select>


                    </div>


                    <div class="form-group">
                        <input class="btn aif-button background-dark_blue bottom-dark-border-dark_blue"
                               type="submit" value="Load">
                    </div>

                </form>
            </div>



            <div class="login-box-group" ng-if="lc.vs.displaySelectFramework">


                <form name="formCreate" novalidate class="css-form" ng-submit="ac.loadOrCreateFramework(formCreate)">
                    <p> {{ lc.vs.createMessage }} </p>
                    <div class="form-group">
                        <label for="nFrameworkName">Name</label>
                        <input type="text" ng-model="ac.savedFrameworkModel.newFrameworkName" required
                               class="form-control" id="nFrameworkName"
                               name="nFrameworkName" placeholder="Framework name">
                        <div class="form-validation-error"
                             ng-show="formLoad.$submitted || formLoad.nFrameworkName.$touched">
                            <span ng-show="formLoad.nFrameworkName.$error.required">You must provide a name for your framework.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="nframeworkDesc">Description</label>
                        <textarea id="nframeworkDesc" type="text" rows="5" class="form-control"
                                  name="nframeworkDesc" ng-model="ac.savedFrameworkModel.newFrameworkDescription"
                                  placeholder="Optionally add any notes here "></textarea>

                    </div>


                    <div class="form-group">
                        <input class="btn aif-button background-dark_blue bottom-dark-border-dark_blue"
                               type="submit" value="Create">
                    </div>

                </form>

            </div>



        </div>



    </div>
</div>

<div class="row " ng-if="ac.displayLogic.displayFtnDetails">

    <div class="col-md-8 low-pad-cell">

        <div class="aif-tile account-screen">
            <a class="btn btn-link close-button pull-right" ng-click="ac.hideLoginBox()">X</a>
            <h2>Reset Password</h2>
            <h3 class="login-message">
                <a class="heading-link"
                   ng-click="ac.showLogin()">
                    Go back

                </a></h3>
            <div class="login-box-group">
                <form novalidate class="css-form">
                    <p class="status"></p>
                    <?php wp_nonce_field('ajax-login-nonce', 'security'); ?>

                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input id="fdEmail" ng-model="ac.userModel.email" required type="email"
                               class="form-control" name="uEmail"
                               placeholder="Email Address">
                        <br/>
                        <div ng-show="form.$submitted || form.uEmail.$touched">
                            <span ng-show="form.uEmail.$error.required">Tell us your email.</span>
                            <span ng-show="form.uEmail.$error.email">This is not a valid email.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="btn aif-button aif-button-wide background-dark_blue bottom-dark-border-dark_blue"
                               ng-click="ac.login()" type="submit" value="Send reset link">

                    </div>

                </form>
            </div>

        </div>


    </div>

</div>

<div class="row " ng-if="ac.displayLogic.displayRegister">

    <div class="col-md-8 low-pad-cell">

        <div class="aif-tile account-screen long">
            <a class="btn btn-link close-button pull-right" ng-click="ac.hideLoginBox()">X</a>
            <h2>Register</h2>
            <h3 class="login-message">Already have an account? <a class="heading-link" id="pop_register"
                                                                  ng-click="ac.showLogin()">Login here</a>
            </h3>
            <form id="register" novalidate name="formReg" class="css-form"
                  ng-submit="ac.registerNewUser(formReg)">


                <div class="login-box-group">


                    <div class="form-group">
                        <label for="regEmail">Email</label>
                        <input id="regEmail" ng-model="ac.userModel.email" required type="text"
                               class="form-control" name="rEmail"
                               placeholder="Email Address">
                        <div class="form-validation-error"
                             ng-show="form.$submitted || formReg.rEmail.$touched">
                            <span ng-show="formReg.rEmail.$error.required">You must supply a valid email address.</span>
                            <span ng-show="formReg.rEmail.$error.email">This is not a valid email.</span>
                        </div>

                    </div>


                    <div class="form-group">
                        <label for="rPassword">Password</label>
                        <input type="password" ng-model="ac.userModel.password" required name="rPassword"
                               class="form-control" id="rPassword"
                               placeholder="Password" ng-minlength="8">

                        <div class="form-validation-error"
                             ng-show="formReg.$submitted || formReg.rPassword.$touched">
                            <span ng-show="formReg.rPassword.$error.required">You must supply a password.</span>
                            <span ng-show="formReg.rPassword.$error.minlength">Your password should be at least eight characters long.</span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="regConfPassword">Confirm Password</label>
                        <input type="password" class="form-control" name="rConfPassword" required
                               id="regConfPassword" ng-model="ac.userModel.passwordConfirmation"
                               placeholder="Confirm Password">
                        <div class="form-validation-error"
                             ng-show="formReg.$submitted || formReg.rConfPassword.$touched">
                            <span ng-show="ac.userModel.password !== ac.userModel.passwordConfirmation">The passwords don't match.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="regLanguage">Language</label>
                        <select id="regLanguage" name="language" ng-model="ac.userModel.language" required
                                class="form-control dropdown">
                            <option value="en">English</option>
                            <option value="es">Spanish</option>
                            <option value="sk">Swedish</option>
                        </select>
                        <div class="form-validation-error"
                             ng-show="formReg.$submitted || formReg.language.$touched">
                            <span ng-show="formReg.language.$error.required">You specify a language.</span>
                        </div>
                    </div>

                    <div class="form-group">


                        <input class="btn aif-button background-dark_blue bottom-dark-border-dark_blue"
                               type="submit" value="Register">

                    </div>

                </div>

                <div class="login-box-group">


                    <div class="form-group">
                        <label for="regConfPassword">First Name</label>
                        <input type="text" class="form-control" name="firstName"
                               id="regFirstName" placeholder="First Name" ng-model="ac.userModel.firstName"
                               required>
                        <div class="form-validation-error"
                             ng-show="formReg.$submitted || formReg.firstName.$touched">
                            <span ng-show="formReg.firstName.$error.required">You must supply a first name.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="regConfPassword">Last Name</label>
                        <input type="text" class="form-control" name="lastName"
                               ng-model="ac.userModel.lastName" required
                               id="regLastName" placeholder="Last Name">
                        <div class="form-validation-error"
                             ng-show="formReg.$submitted || formReg.lastName.$touched">
                            <span ng-show="formReg.lastName.$error.required">You must supply a last name.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="regOrganisation">Organisation</label>
                        <input id="regOrganisation" type="text" class="form-control" name="organisation"
                               ng-model="ac.userModel.organisation" required
                               placeholder="Organisation">
                        <div class="form-validation-error"
                             ng-show="formReg.$submitted || formReg.organisation.$touched">
                            <span ng-show="formReg.organisation.$error.required">You must tell us your company or organisation name.</span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="regJobTitle">Job Title</label>
                        <input type="text" name="jobTitle" class="form-control" id="regJobTitle"
                               ng-model="ac.userModel.jobTitle" required
                               placeholder="Job Title">
                        <div class="form-validation-error"
                             ng-show="formReg.$submitted || formReg.jobTitle.$touched">
                            <span ng-show="formReg.jobTitle.$error.required">You must provide a job title.</span>
                        </div>
                    </div>

                </div>


            </form>

        </div>


    </div>

</div>

<div class="row " ng-if="ac.displayLogic.displaySave">

    <div class="col-md-8">

    </div>
    <div class="col-md-4 low-pad-cell">

        <div class="aif-tile save-box">
            <a class="btn btn-link close-button pull-right" ng-click="ac.hideLoginBox()">X</a>
            <h2>Save Progress</h2>

            <form id="saveProgress" class="form-css">

                <div class="login-box">

                    <div class="login-box-group-a">


                        <div class="form-group">
                            <label for="frameworkName">Framework Name</label>
                            <input id="frameworkName" type="text" class="form-control" name="frmName"
                                   ng-model="ac.savedFrameworkModel.newFrameworkName"
                                   placeholder="Give your framework a name">
                        </div>


                        <div class="form-group">
                            <label for="frameworkDesc">Notes</label>
                            <textarea id="frameworkDesc" type="text" rows="5" class="form-control"
                                      ng-model="ac.savedFrameworkModel.newFrameworkDescription"
                                      name="frmDesc"
                                      placeholder="Optionally add any notes here "></textarea>
                        </div>

                        <div class="form-group">
                            <input class="btn aif-button background-dark_blue bottom-dark-border-dark_blue"
                                   type="submit" value="Save">
                        </div>

                    </div>

                </div>

            </form>

        </div>


    </div>

    <div class="inputs">
        <ul>
            <li><span class="bold">Existing research</span> – e.g., what audience reach, impressions, CPM?</li>
            <li><span class="bold">Background and context</span> – e.g., what volume, how many impressions?</li>
            <li><span class="bold">Budget</span> – set a budget and identify the most cost-effective approaches (e.g., through Cost Effectiveness Analysis)</li>
            <li><span class="bold">Resources</span> – what skills do you need? Are there potential partners?</li>
        </ul>
    </div>

    <div class="outputs">
        <ul>
            <li><span class="bold">Advertising</span> data that is relevant</li>
            <li><span class="bold">Publicity</span> information</li>
            <li><span class="bold">Web sites, blogs, partnerships or supplements </span> (owned media)</li>
            <li><span class="bold">Social media</span> – what skills do you need? Are there potential partners?</li>
            <li><span class="bold">Events</span> held – e.g., how many attended?</li>
            <li><span class="bold">Sponsorships</span> launched – e.g., what audience reach?</li>
            <li><span class="bold">Direct mail, e-mail, or e-marketing</span>, etc. – e.g., what audience reach?</li>
        </ul>
    </div>


    Advertising (paid media) – e.g., what audience reach, impressions, CPM?
    Publicity (earned media) – e.g., what volume, how many impressions?
    Web sites, blogs, partnerships or supplements (owned media)
    Social media sites (shared media) – e.g., how many posts, videos, etc.?
    Events held – e.g., how many attended?
    Sponsorships launched – e.g., what audience reach?
    Direct mail, e-mail, or e-marketing, etc. – e.g., what audience reach?

</div>