<div id="register-reminder" class="tether-theme-arrows tether-open">

    <div class="tether-content">

        <header>
            <div class="close-button pull-right" ng-click="close()">X</div>
        </header>

        <div class="reg-message">
            <p>
                New functionality has been added to the AMEC Integrated Evaluation Framework to improve the user experience. </p>
            <p>Now you can save the progress of your work and can save and edit up to 10 different frameworks per user account.</p>
            <p> To do so you must register, create an account and log in. While it is not compulsory to do so, this important new functionality is only available once logged into your account. Please either sign in or register if it’s your first time here to begin.  Don’t worry, use of the framework remains completely free!

            </p>
        </div>

        <footer>
            <ul class="reg-buttons">
                <div class="pull-right btn btn-reg" ng-click="dismiss()">Got it</div>
            </ul>
        </footer>
    </div>

</div>