<div class="row ">

    <div class="col-md-8 low-pad-cell">

        <div class="aif-tile account-screen">
            <a class="btn btn-link close-button pull-right" ng-click="rp.hideLoginBox()">X</a>
            <h2>Reset Password</h2>

            <p class="account-layout">
                Enter a new password for the login {{ rp.email }} below
            </p>
            <div class="login-box-group">
                <form name="formRp" novalidate class="css-form" ng-submit="rp.sendReset(formRp)" ng-if="!rp.linkSent">
                    <p class="status"></p>


                    <div class="form-group">
                        <label for="rPassword">Password</label>
                        <input type="password" ng-model="rc.userModel.password" required name="rPassword"
                               class="form-control" id="rPassword"
                               placeholder="Password" ng-minlength="8">

                        <div class="form-validation-error"
                             ng-show="formRp.$submitted || formRp.rPassword.$touched">
                            <span ng-show="formRp.rPassword.$error.required">You must supply a password.</span>
                            <span ng-show="formRp.rPassword.$error.minlength">Your password should be at least eight characters long.</span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="regConfPassword">Confirm Password</label>
                        <input type="password" class="form-control" name="rConfPassword" required
                               id="regConfPassword" ng-model="rc.userModel.passwordConfirmation"
                               placeholder="Confirm Password">
                        <div class="form-validation-error"
                             ng-show="formRp.$submitted || formRp.rConfPassword.$touched">
                            <span ng-show="rp.password !== rp.passwordConfirmation">The passwords don't match.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="btn aif-button aif-button-wide background-dark_blue bottom-dark-border-dark_blue"
                               type="submit" value="Send reset link">

                    </div>

                </form>



            </div>

            <div ng-if="rp.linkSent">
                <p class="account-layout"  >
                    We have emailed you a link to reset your password.
                </p>

                <p>
                    You should receive it in the next few minutes.
                </p>

                <p class="account-layout"  >
                    Haven't received it?  <a ng-click="rp.resend()">Click here to resend</a>

                </p>

                <div class="form-group" ng-if="rp.linkSent">
                    <input class="btn aif-button aif-button-wide background-dark_blue bottom-dark-border-dark_blue"
                           type="button" ng-click="rp.vs.resetView()" value="Close">

                </div>
            </div>


        </div>

    </div>
</div>