<div class="row ">

    <div class="col-md-8 low-pad-cell">

        <div class="aif-tile account-screen">
            <a class="btn btn-link close-button pull-right" ng-click="rp.vs.reset()">X</a>
            <h2>
                {{ rp.vs.getCopyForKey('RP_TTL', 'Reset Password')  }}
            </h2>

            <p class="account-layout">
                {{ rp.vs.getCopyForKey('RP_NPM', 'Enter a new password for the login ')  }}
                <span class="heading-link">{{ rp.email }}</span>
            </p>
            <div class="login-box-group">
                <form name="formRp" novalidate class="css-form" ng-submit="rp.changePassword(formRp)"
                      ng-if="!rp.linkSent">
                    <p class="status"></p>


                    <div class="form-group">
                        <label for="rPassword">
                            {{ rp.vs.getCopyForKey('RP_PWD', 'Password')  }}
                        </label>
                        <input type="password" ng-model="rp.password" required name="rPassword"
                               class="form-control" id="rPassword"
                               placeholder="Password" ng-minlength="8">

                        <div class="form-validation-error"
                             ng-show="formRp.$submitted || formRp.rPassword.$touched">
                            <span ng-show="formRp.rPassword.$error.required">
                                {{ rp.vs.getCopyForKey('RP_PWD_VM', 'You must supply a password.')  }}
                            </span>
                            <span ng-show="formRp.rPassword.$error.minlength">
                                {{ rp.vs.getCopyForKey('RP_PWD_VL', 'Your password should be at least eight characters long.')  }}
                            </span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="regConfPassword">
                            {{ rp.vs.getCopyForKey('RP_CPW', 'Confirm Password')  }}
                        </label>
                        <input type="password" class="form-control" name="rConfPassword" required
                               id="regConfPassword" ng-model="rp.passwordConfirmation"
                               placeholder="Confirm Password">
                        <div class="form-validation-error"
                             ng-show="formRp.$submitted || formRp.rConfPassword.$touched">
                            <span ng-show="rp.password !== rp.passwordConfirmation">
                                {{ rp.vs.getCopyForKey('RP_CPW_VM', 'The passwords don\'t match.')  }}
                            </span>
                        </div>
                    </div>


                    <p ng-show="rp.resetError" class="account-layout">

                        <span ng-bind-html="rp.vs.getCopyForKey('RP_RFM', 'There has been a problem resetting your password. Either this link has expired or your email address is not valid.<br/>')">

                </span>

                        <a ng-click="rp.resend()">
                            {{ rp.vs.getCopyForKey('RP_RFL', 'Click here to try again')  }}
                        </a>

                    </p>

                    <div class="form-group" ng-if="!(rp.resetError || rp.loggedIn)">
                        <input class="btn aif-button aif-button-wide background-dark_blue bottom-dark-border-dark_blue"
                               type="submit" value="{{ rp.vs.getCopyForKey('RP_CPB', 'Change Password')  }}">
                    </div>

                    <p ng-show="rp.loggedIn" class="account-layout">

                        {{ rp.vs.getCopyForKey('RP_RSM', 'Your password has been reset.  Logging in...')  }}

                    </p>


                </form>

            </div>

        </div>

    </div>
</div>