<div class="row ">

    <div class="col-md-8 low-pad-cell">

        <div class="aif-tile account-screen">
            <a class="btn btn-link close-button pull-right" ng-click="rp.vs.reset()">X</a>
            <h2>Reset Password</h2>

            <p class="account-layout">
                Enter a new password for the login <span class="heading-link">{{ rp.email }}</span> below
            </p>
            <div class="login-box-group">
                <form name="formRp" novalidate class="css-form" ng-submit="rp.changePassword(formRp)"
                      ng-if="!rp.linkSent">
                    <p class="status"></p>


                    <div class="form-group">
                        <label for="rPassword">Password</label>
                        <input type="password" ng-model="rp.password" required name="rPassword"
                               class="form-control" id="rPassword"
                               placeholder="Password" ng-minlength="8">

                        <div class="form-validation-error"
                             ng-show="formRp.$submitted || formRp.rPassword.$touched">
                            <span ng-show="formRp.rPassword.$error.required">You must supply a password.</span>
                            <span ng-show="formRp.rPassword.$error.minlength">Your password should be at least eight characters long.</span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="regConfPassword">Confirm Password</label>
                        <input type="password" class="form-control" name="rConfPassword" required
                               id="regConfPassword" ng-model="rp.passwordConfirmation"
                               placeholder="Confirm Password">
                        <div class="form-validation-error"
                             ng-show="formRp.$submitted || formRp.rConfPassword.$touched">
                            <span ng-show="rp.password !== rp.passwordConfirmation">The passwords don't match.</span>
                        </div>
                    </div>


                    <p ng-show="rp.resetError" class="account-layout">

                        There has been a problem resetting your password. Either this link has expired or your email
                        address is not valid.<br>
                        <a ng-click="rp.resend()">Click here to try again</a>

                    </p>

                    <div class="form-group" ng-if="!(rp.resetError || rp.loggedIn)">
                        <input class="btn aif-button aif-button-wide background-dark_blue bottom-dark-border-dark_blue"
                               type="submit" value="Change Password">
                    </div>

                    <p ng-show="rp.loggedIn" class="account-layout">

                        Your password has been reset.  Logging in...

                    </p>


                </form>

            </div>

        </div>

    </div>
</div>