<div class="row ">

    <div class="col-md-8 low-pad-cell">

        <div class="aif-tile account-screen long">
            <a class="btn btn-link close-button pull-right" ng-click="sa.vs.resetView()">X</a>
            <h2 class="d-inline-block">{{ sa.title }}</h2>

            <div ng-if="sa.currentFramework">

                <p>
                    {{ sa.vs.getCopyForKey('SA_SPM', 'Save your progress to:')  }}
                </p>
                <div class="choose-fw-layout">
                    <div class="row">

                        <div class="col-md-6 col-xs-12 low-pad-cell">

                            <div class="choose-fw-tile save-as" ng-click="sa.saveFramework(sa.currentFramework)"
                                 ng-class="[sa.getColorClass('background', 0), {'selected' : sa.currentFramework.selected}]"  >
                                <div class="fw-main" >

                                <h5 class="text-elip"> {{ sa.currentFramework.name }} </h5>
                                <p class="text-elip"> {{ sa.currentFramework.description | limitTo:100 }} <span
                                        ng-if="sa.currentFramework.description.length>100">...</span></p>
                                </div>
                                <div class="loading-image" aif-loading-spinner loading="sa.currentFramework.saving">

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <p class="account-layout">{{ sa.altMessage }}
                <a ng-click="sa.showCreateFramework()" ng-if="sa.altMessage.length > 3">
                    {{ sa.vs.getCopyForKey('SA_CNM', 'create a new one')  }}
                </a>
                <a ng-click="sa.showCreateFramework()" ng-if="sa.altMessage.length < 4">
                    {{ sa.vs.getCopyForKey('SA_CNN', 'create a new framework')  }}
                </a></p>

            <div class="choose-fw-layout">

                <div class="row">

                    <div class="col-md-6 col-xs-12 low-pad-cell"
                         ng-repeat="fw in sa.user.frameworks" ng-if="fw !== sa.currentFramework">

                        <div class="choose-fw-tile save-as" ng-if="!fw.flaggedDelete"
                             ng-class="[sa.getColorClass('background', $index + sa.exInc), {'selected' : fw.selected}]" >


                            <div class="fw-main" ng-click="sa.toggleSaveOver(fw)">

                                <h5 class="text-elip"> {{ fw.name }} </h5>
                                <p class="text-elip"> {{ fw.description | limitTo:100 }} <span ng-if="fw.description.length>100">...</span>
                                </p>
                            </div>

                        </div>

                        <div class="choose-fw-tile shake" ng-class="sa.getColorClass('background-dark', $index + sa.exInc)" ng-if="fw.flaggedDelete">

                            <div class="fw-main" >
                            <p class="text-elip">{{ sa.vs.getCopyForKey('SA_ASM', 'Are you sure you want to save over ') + fw.name }}?</p>
                            <div     class="text-link sml" ng-class="sa.getColorClass('background-dark', $index + sa.exInc)" aif-loading-spinner loading="fw.saving" size="40">
                                        <a ng-click="sa.saveFramework(fw)">{{ sa.vs.getCopyForKey('SA_YES', 'Yes')  }}</a>
                                        <a  ng-click="sa.toggleSaveOver(fw)">{{ sa.vs.getCopyForKey('SA_NO', 'No')  }}</a>
                                    </div>
                            </div>

                        </div>


                    </div>

                </div>


            </div>



        </div>

    </div>


</div>
</div>