$red: rgb(213, 0, 70);
$yellow: rgb(255, 154, 49);
$green: rgb(0, 195, 148);
$light_blue: rgb(0, 144, 255);
$dark_blue: rgb(0, 114, 175);
$purple: rgb(138, 0, 182);
$black: rgb(31, 31, 31);
$bright_green: rgb(45, 164, 26);
$pale_grey: rgb(191, 191, 191);

$color-list: (
        red $red 50%,
        yellow $yellow 35%,
        green $green 50%,
        light_blue $light_blue 40%,
        dark_blue $dark_blue 50%,
        purple $purple 50%,
        black $black 0%,
        bright_green $bright_green 0%,
        pale_grey $pale_grey 20%
);

[ng-cloak] {
  display: none;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#aif-copy {
  display: none;
}

#aif-app {

  font-family: lato, Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #fff;
  background-color: #4c4c4c;

  @import "vendor/bootstrap";
  @import "./components/summary";

  /* row resets */
  .row {
    margin-bottom: 0;
    clear: none;
  }

  .container:before,
  .container:after,
  .row:before,
  .row:after {
    content: normal; // IE doesn't support `initial`
  }

  text-area {
    color: black;
    font-family: system-ui;
  }

  input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="url"], select {
    margin: 0;
  }

  @each $value in $color-list {

    .background-#{nth($value, 1)} {
      background-color: nth($value, 2);
    }

    .background-dark-#{nth($value, 1)} {
      background-color: darken(nth($value, 2), 14%);
    }

    .background-light-#{nth($value, 1)} {
      background-color: lighten(nth($value, 2), 14%);
    }

    .background-pale-#{nth($value, 1)} {
      background-color: lighten(nth($value, 2), nth($value, 3));
    }

    .bottom-dark-border-#{nth($value, 1)} {
      border-bottom: 4px solid darken(nth($value, 2), 15%);
    }
  }

  [ng-cloak] {
    display: none;
  }

  .text-elip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .pull-right {
    float: right !important;
  }

  .clearfix {
    clear: both;
  }

  .low-pad-cell {
    padding: 0 5px;
  }

  .full-size-child {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .bg-cloak {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.56);
    z-index: 4;
  }

  .loader {
    background-image: url('../images/loading.gif');
    background-position: center 200px;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
  }

  .aif-button {
    max-height: 40px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    line-height: 24px;
    border-radius: 0;
    display: inline-block;
    padding: 2px 8px;
    min-width: 70px;
  }

  .control-row {

    line-height: 20px;

    .welcome {
      width: 220px;
    }

    .aif-button {
      height: 30px;
      font-size: 13px;
      margin-right: 4px;

      &:last-child {
        margin-right: 0;
      }

      &.save-button {
        background-image: url('../images/save.png');
        background-repeat: no-repeat;
        background-position: 7px 3px;
        padding-left: 31px;
      }

    }

    .account-button {
      background-size: contain;
      height: 26px;
      width: 26px;
      display: inline-block;
      background: url('../images/avatar.png') no-repeat;
      cursor: pointer;
    }

    h4 {
      display: inline-block;
      margin: 0;
      cursor: pointer;
      a {
        line-height: 20px;
        vertical-align: bottom;
      }
    }

    .framework-name {

      h4 {
        line-height: 30px;
        vertical-align: bottom;
        width: 410px;
        padding: 0 8px;
        border-radius: 3px;
        border: solid 1px lightgray;
      }
      cursor: pointer;
      display: inline-block;
    }

  }

  .base-framework {
    position: relative;
    min-height: 1000px;
  }

  .aif-tile {
    margin-top: 10px;
    height: 200px;
    position: relative;
    cursor: pointer;
    font-family: lato, sans-serif;
    padding: 8px 0 0 15px;

    h2 {
      margin-top: 2px;
      font-weight: 300;
    }

    .start-message {
      height: 36px;
      margin-right: 50px;
      padding: 6px 28px;
      text-align: right;
      text-transform: uppercase;
      margin-top: 24px;
    }

    .anchor-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 80px;
      width: 100%;

      .button-label {
        font-size: 25px;
        color: #fff;
        display: inline-block;
        text-align: center;
        width: 100%;
        margin-top: 20px;
      }

    }

    .circle-border {

      position: absolute;
      opacity: 1;
      width: 51px;
      height: 51px;
      right: 12px;
      bottom: 10px;
      border-radius: 50%;
      border: 3px solid white;
      font-size: 28px;
      font-weight: 700;
      line-height: 44px;
      color: #fff;
      text-align: center;

    }

    .border-caret {
      display: inline-block;
      position: relative;
      top: 3px;
      width: 40px;
      height: 18px;
      float: right;

      .caret-left {
        position: relative;
        left: 0px;
        top: 7px;
        width: 21px;
        height: 3px;
        background-color: #fff;
        transform: translate(0px, 0px) translateZ(0px) rotate(-45deg) scale(1, 1);
      }

      .caret-right {
        position: relative;
        left: 13px;
        top: 4px;
        width: 21px;
        height: 3px;
        background-color: #fff;
        transform: translate(0px, 0px) translateZ(0px) rotate(45deg) scale(1, 1);
      }

    }

    p.submit-text {
      color: #fff;
      padding: 8px 10px;

      font-size: 18px;
      font-weight: 300;
      font-family: lato, sans-serif;
      line-height: 23px;
    }

  }

  .login-row-container {

    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    color: #fff;
    z-index: 7;

  }

  .account-screen {
    background-color: #292b2c;
    min-height: 410px;
    cursor: default;
    height: auto;
    margin-top: 10px;

    &.long {
      min-height: 620px;
    }

    .close-button {
      color: #fff;
      font-size: 1.2rem;
      font-weight: bold;
    }

    .logout {
      background-color: #0072af;
      padding: 4px 17px;
      border-radius: 15px;
      margin: 10px 0 20px;
      display: inline-block;
      font-style: italic;
      cursor: pointer;
      font-weight: 400;
      margin-left: 90px;
      vertical-align: super;
      cursor: pointer;
    }

    padding: 8px 15px;

    a {
      cursor: pointer;

    }

    h4.login-message {
      line-height: 1.8rem;
      margin: 20px 0 4px 0;
    }

    .start-message {
      height: 36px;
      margin-right: 50px;
      padding: 6px 28px;
      text-align: right;
      text-transform: uppercase;
      margin-top: 22px;
    }

    .account-layout {
      max-width: 470px;

      .em {

        font-style: italic;
        margin-right: 2px;
      }

      a {

        font-style: italic;
        color: lighten($dark_blue, 10%);
        font-size: 1.2rem;
        display: inline-block;

        &:hover {
          color: $dark_blue;
          text-decoration: underline;
        }
      }
    }

    .heading-link {
      font-style: italic;
      color: #0072af;
    }

    .text-link {
      display: inline-block;
      margin-left: 15px;
      font-style: italic;
      cursor: pointer;
    }

    .login-box-group {
      display: inline-block;
      float: left;
      width: 45%;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }

      .aif-button {
        margin-right: 6px;
      }

      .text-link.lge {
        font-size: 1.2rem;
      }

      .register-container {
        margin-top: 42px;

        > div, > input {
          float: right;
        }

        &:after {
          clear: both;
        }
      }

    }

    .little-loader {
      background-image: url('../images/littleLoading.gif');
      background-repeat: no-repeat;
      background-position: center;
      height: 30px;
      width: 90px;
      display: inline-block;
    }

    p.submit-text {
      color: #fff;
      padding: 8px 10px;

      font-size: 18px;
      font-weight: 300;
      font-family: lato, sans-serif;
      line-height: 23px;
    }

    .css-form {
      input, select, textarea {
        &.ng-invalid.ng-touched {
          background-color: #FA787E;
        }

        .ng-valid.ng-touched {
          background-color: #78FA89;
        }

      }

      .form-validation-error {
        color: #af0000;
        font-size: 0.9rem;
      }

    }

  }


  @keyframes actionButtonAppear {
    0% {
      width: 0;
    }
    100% {
      width: 40px;
    }
  }

  @keyframes actionButtonAppearToMain {
    0% {
      margin-right: 0;
    }
    100% {
      margin-right: 40px;
    }
  }

  .choose-fw-layout {

    margin-bottom: 20px;
    padding: 0 10px;
    position: relative;
    max-height: 470px;
    overflow-y: auto;
    padding-right: 15px;

    .low-pad-cell {
      padding: 5px;
    }

    .choose-fw-tile {

      .fw-main {
        margin-right: 32px;
        padding: 10px;
        height: 90px;
        transition-timing-function: ease-out;
        transition-duration: .3s;
        transition-property: margin-right;
      }

      .fw-controls {
        width: 32px;
        float: right;
        height: 90px;
        position: relative;
        border-left: solid 1px rgba(255, 255, 255, .6);
      }

      .fw-load {
        float: right;
        height: 90px;
        width: 0;
        overflow: hidden;
        transition-timing-function: ease-out;
        transition-duration: .3s;
        transition-property: width;
        cursor: pointer;

        .load-text {
          line-height: 90px;
          text-align: center;
          text-transform: uppercase;

        }

        .loading-text {
          line-height: 90px;
          text-align: center;
          text-transform: uppercase;
          font-size: 0.8em;
          display: none;
        }

        &.loading{

          .load-text {
            display: none;
          }

          .loading-text {
            display: block;
          }

          //background-image: url("../images/littleLoading.gif");
          //background-repeat: no-repeat;
          //background-position: center center;

        }

      }

      position: relative;

      width: 100%;

      cursor: pointer;

      a {
        color: #fff;
      }

      h5, p {
        max-width: 300px;
      }

      &.selected {
        //border: 2px solid #fff;

        .fw-main {
          margin-right: 92px;
        }

        .fw-load {
          width: 60px;
        }

      }

      &.save-as, &.save-as.selected {
        .fw-main {
          margin-right: 0;
        }

        .loading-image {
          position: absolute;
          right: 0;
          top: 0;
          width: 90px;
          height: 90px;
        }

      }

      &.shake {
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;

        .loading-image {
          position: absolute;
          left: 0;
          top: 0;
          width: 90px;
          height: 90px;
        }
      }

      .trash-icon {
        background: url('../images/trash-icon.png') no-repeat;
        background-size: contain;
        height: 26px;
        width: 26px;
        position: absolute;
        bottom: 5px;
        right: 3px;
        display: inline-block;
      }

      .edit-icon {
        background: url('../images/edit-icon.png') no-repeat;
        background-size: contain;
        height: 18px;
        width: 18px;
        position: absolute;
        top: 7px;
        right: 6px;
        display: inline-block;
      }

      .text-link.sml {

        position: absolute;
        bottom: 6px;
        right: 6px;
        width: 80px;
        height: 40px;
        text-align: right;
        line-height: 60px;
        z-index: 4;
        vertical-align: bottom;

        .spinner{
          margin-left: 20px;
        }

        a {
          font-style: normal;
          margin-left: 12px;

          &:hover {
            text-decoration: underline;
          }
        }
      }

    }

  }

  .entries {

    position: absolute;
    //padding: 50px 60px;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;

    h3 {
      margin: 0;
    }

  }

  .aif-input {

    color: #fff;
    font-family: lato, sans-serif;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
    min-height: 200px;
    cursor: default;

    .info-button {
      width: 24px;
      height: 24px;
      background-color: #fff;
      color: #8e8e8e;
      font-size: 20px;
      font-weight: 500;
      border-radius: 50%;
      text-align: center;
      line-height: 25px;
      margin: 6px;
      float: right;
      cursor: pointer;
    }

    .header {
      padding: 8px 0 0 15px;
      height: 50px;
      margin-bottom: 4px;
      cursor: pointer;

      h3 {
        display: inline-block;
        font-size: 25px;
        font-weight: 300;
        color: #fff;

      }
    }

    .section {

      padding: 8px 15px;

      &.demi {
        width: 50%;
        float: left;
      }

      h4 {
        font-size: 23px;
        font-weight: 300;
        color: #fff;
      }

      p.sub-heading {
        font-size: 16px;
        line-height: 18px;
        padding: 0;
        display: inline-block;
        width: 90%;
      }

      .inputs-container {

        position: relative;

        .info-button {
          position: absolute;
          right: 0;
          top: -38px;
        }
      ;

        .peso-header {
          margin-left: 20px;
          margin-bottom: 10px;

          .peso-button-header {

            width: 132px;
            float: left;
            > div {
              width: 32px;
              float: left;
              margin-right: 1px;
              text-align: center;
              font-size: 18px;
              padding: 2px 0;
            }

          }

          .peso-desc {
            margin-left: 152px;
            line-height: 32px;
          }

        }

        .peso-entry {

          margin-bottom: 8px;

          .input-index {

          }

          .peso-buttons {

            width: 132px;
            float: left;
            > div {
              width: 32px;
              height: 32px;
              float: left;
              margin-right: 1px;
              text-align: center;
              font-size: 18px;
              padding: 2px 0;

              > input {
                margin: 0;
              }
            }

          }

          .peso-input {
            margin-left: 158px;

            > input {
              margin: 0;
              height: 32px;
            }
          }

        }

      }

      .input-index {
        width: 20px;
        float: left;
      }

      input {

        margin: 0 0 12px;

        &.numbered-input {
          margin-left: 30px;
          background-color: red;
          width: auto;
        }
      }

      .numbered-input {
        margin-left: 30px;
      }

      textarea {
        color: black;
        font-size: 16px;
        width: 100%;
        height: 176px;
        resize: none;
        border: none;

        &.medium {
          height: 220px;
          margin-bottom: 29px;
        }

        &.tall {
          height: 468px;
        }
      }

    }

  }

  .info {

    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 0;

    .close-button {
      font-size: 0.8em;
      font-size: 0.8em;
      font-weight: bold;
      position: absolute;
      right: 6px;
      top: 4px;
    }

    .main-info {
      background-color: rgb(234, 234, 234);
      padding: 14px 16px;
      font-size: 14px;
      color: rgb(138, 138, 138);
      position: relative;



      .lead-in {
        text-transform: capitalize;
        font-weight: bold;
      }

      .bold {
        font-weight: bold;
      }

      p {
        padding: 0;
      }

      a.further-info-link {
        text-decoration: underline;
      }

      ul {
        list-style: disc;
        margin-top: 10px;
        padding-left: 10px;
      }
    }

    .further-info {

      margin-top: 10px;
      width: 100%;
      height: 800px;
      position: relative;
      background-repeat: no-repeat;
      background-size: 100%;

      &.further-info-1 {
        background-image: url('../images/Taxonomy-updated-design-1.jpg');
      }
      &.further-info-2 {
        background-image: url('../images/Taxonomy-updated-design-2.jpg');
      }
      &.further-info-3 {
        background-image: url('../images/Taxonomy-updated-design-3.jpg');
      }
      &.further-info-4 {
        background-image: url('../images/Taxonomy-updated-design-4.jpg');
      }
      &.further-info-5 {
        background-image: url('../images/Taxonomy-updated-design-5.jpg');
      }
      &.further-info-6 {
        background-image: url('../images/Taxonomy-updated-design-6.jpg');
      }

    }

  }

}
