#aif-container {
  width: 1140px;
  max-width: 100%;
  color: #fff;
  font-family: Lato, sans-serif;
  box-sizing: border-box; }
  #aif-container .background-red {
    background-color: #d50046; }
  #aif-container .background-dark-red {
    background-color: #8e002f; }
  #aif-container .background-light-red {
    background-color: #ff1d68; }
  #aif-container .bottom-dark-border-red {
    border-bottom: 4px solid #89002d; }
  #aif-container .background-yellow {
    background-color: #ff9a31; }
  #aif-container .background-dark-yellow {
    background-color: #e97700; }
  #aif-container .background-light-yellow {
    background-color: #ffbd78; }
  #aif-container .bottom-dark-border-yellow {
    border-bottom: 4px solid #e47400; }
  #aif-container .background-green {
    background-color: #00c394; }
  #aif-container .background-dark-green {
    background-color: #007c5e; }
  #aif-container .background-light-green {
    background-color: #0bffc4; }
  #aif-container .bottom-dark-border-green {
    border-bottom: 4px solid #00775a; }
  #aif-container .background-light_blue {
    background-color: #0090ff; }
  #aif-container .background-dark-light_blue {
    background-color: #0068b8; }
  #aif-container .background-light-light_blue {
    background-color: #47afff; }
  #aif-container .bottom-dark-border-light_blue {
    border-bottom: 4px solid #0065b3; }
  #aif-container .background-dark_blue {
    background-color: #0072af; }
  #aif-container .background-dark-dark_blue {
    background-color: #004368; }
  #aif-container .background-light-dark_blue {
    background-color: #00a1f6; }
  #aif-container .bottom-dark-border-dark_blue {
    border-bottom: 4px solid #004063; }
  #aif-container .background-purple {
    background-color: #8a00b6; }
  #aif-container .background-dark-purple {
    background-color: #54006f; }
  #aif-container .background-light-purple {
    background-color: #c000fd; }
  #aif-container .bottom-dark-border-purple {
    border-bottom: 4px solid #50006a; }
  #aif-container .background-black {
    background-color: #1f1f1f; }
  #aif-container .background-dark-black {
    background-color: black; }
  #aif-container .background-light-black {
    background-color: #434343; }
  #aif-container .bottom-dark-border-black {
    border-bottom: 4px solid black; }
  #aif-container .background-bright_green {
    background-color: #2da41a; }
  #aif-container .background-dark-bright_green {
    background-color: #1c6610; }
  #aif-container .background-light-bright_green {
    background-color: #41dd28; }
  #aif-container .bottom-dark-border-bright_green {
    border-bottom: 4px solid #1b6210; }
  #aif-container body {
    font-family: lato, sans-serif; }
  #aif-container .control-row .button {
    padding: 2px 4px;
    width: 100%;
    height: 30px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    max-width: 134px;
    text-transform: uppercase;
    line-height: 24px; }
  #aif-container h2 {
    font-size: 35px;
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #fff; }
  #aif-container .low-pad-cell {
    padding-right: 5px;
    padding-left: 5px; }
  #aif-container .main {
    padding: 50px 60px; }
  #aif-container .bg-cloak {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.56);
    z-index: 4; }
  #aif-container .aif-input {
    color: #fff;
    font-family: lato, sans-serif; }
  #aif-container .aif-input .info-button {
    width: 24px;
    height: 24px;
    background-color: #fff;
    color: #8e8e8e;
    font-size: 20px;
    font-weight: 500;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    margin: 6px;
    float: right; }
  #aif-container .aif-input .header {
    padding: 8px 0 0 15px;
    height: 50px;
    margin-bottom: 10px; }
  #aif-container .aif-input .header h3 {
    display: inline-block;
    font-size: 25px;
    font-weight: 300;
    color: #fff; }
  #aif-container .aif-input .section {
    padding: 8px 15px; }
  #aif-container .aif-input .section h4 {
    font-size: 23px;
    font-weight: 300;
    color: #fff; }
  #aif-container .aif-input .section p.sub-heading {
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    display: inline-block;
    width: 90%; }
  #aif-container .aif-input .section .inputs-container {
    position: relative; }
  #aif-container .aif-input .section .inputs-container .info-button {
    position: absolute;
    right: 0;
    top: -38px; }
  #aif-container .aif-input .section textarea {
    font-size: 16px;
    width: 100%;
    height: 155px;
    resize: none;
    border: none; }
  #aif-container .info {
    background-color: #eaeaea;
    padding: 14px 16px;
    font-size: 14px;
    color: #8a8a8a; }
  #aif-container .info .lead-in {
    text-transform: capitalize;
    font-weight: bold; }
  #aif-container .info p {
    padding: 0; }
  #aif-container .info a.further-info-link {
    text-decoration: underline; }
  #aif-container .entries {
    position: absolute;
    padding: 50px 60px;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%; }
  #aif-container .aif-tile {
    margin-top: 10px;
    height: 200px;
    position: relative;
    cursor: pointer;
    font-family: lato, sans-serif; }
  #aif-container .aif-tile h2 {
    padding: 8px 0 0 15px; }
  #aif-container .aif-tile p.submit-text {
    color: #fff;
    padding: 18PX 22px;
    font-size: 18px;
    font-weight: 300;
    font-family: lato, sans-serif; }
  #aif-container .anchor-bottom {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%; }
  #aif-container .anchor-bottom .button-label {
    font-size: 25px;
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 20px; }
  #aif-container .circle-border {
    position: absolute;
    opacity: 1;
    width: 51px;
    height: 51px;
    right: 12px;
    bottom: 10px;
    border-radius: 50%;
    border: 3px solid white;
    font-size: 28px;
    font-weight: 700;
    line-height: 44px;
    color: #fff;
    text-align: center; }
  #aif-container .border-caret {
    display: inline-block;
    position: relative;
    top: 3px;
    width: 40px;
    height: 18px;
    float: right; }
  #aif-container .border-caret .caret-left {
    position: relative;
    left: 0px;
    top: 7px;
    width: 21px;
    height: 3px;
    background-color: #fff;
    transform: translate(0px, 0px) translateZ(0px) rotate(-45deg) scale(1, 1); }
  #aif-container .border-caret .caret-right {
    position: relative;
    left: 13px;
    top: 4px;
    width: 21px;
    height: 3px;
    background-color: #fff;
    transform: translate(0px, 0px) translateZ(0px) rotate(45deg) scale(1, 1); }
  #aif-container .aif-registration {
    color: #fff;
    height: 30px; }
  #aif-container .aif-registration a {
    color: #fff !important; }
  #aif-container .row {
    margin-bottom: 0; }
  #aif-container .login-row {
    height: 400px;
    background-color: #eeeeee;
    display: none; }
    #aif-container .login-row h1, #aif-container .login-row h3 {
      font-size: 1.2rem; }

/*# sourceMappingURL=aif.css.map */
