$red: rgb(213, 0, 70);
$yellow: rgb(255, 154, 49);
$green: rgb(0, 195, 148);
$light_blue: rgb(0, 144, 255);
$dark_blue: rgb(0, 114, 175);
$purple: rgb(138, 0, 182);
$black: rgb(31, 31, 31);
$bright_green: rgb(45, 164, 26);
$pale_grey: rgb(191, 191, 191);

$color-list: (
        red $red 50%,
        yellow $yellow 35%,
        green $green 50%,
        light_blue $light_blue 40%,
        dark_blue $dark_blue 50%,
        purple $purple 50%,
        black $black 0%,
        bright_green $bright_green 0%,
        pale_grey $pale_grey 20%
);

@page  {
  size: A4;
  margin: 0; // full-bleed
  padding: 2in;
  background: #cccccc;
}

.rotatey{
  /* FF3.5+ */
  -moz-transform: rotate(-90.0deg);
  /* Opera 10.5 */
  -o-transform: rotate(-90.0deg);
  /* Saf3.1+, Chrome */
  -webkit-transform: rotate(-90.0deg);
  /* IE6,IE7 */
  filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
  /* Standard */
  transform: rotate(-90.0deg);
  width: 30px;
}

#frameworkSummary{

  font-family: lato, Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #fff;

  margin-left: 1cm;
  margin-right: 1cm;
  margin-top: 2cm;

  * {
    box-sizing: border-box;
  }

  .container-fluid {
    position: relative;
    margin-right: auto;
    margin-left: auto;

  }

  .row {
    position: relative;
    margin: 0 -3px 0 -3px;

  }

  .aif-p-3 {
    width: 25%;
    float: left;
    max-width: 25%;
    position: relative;
  }

  .aif-p-6 {
    width: 50%;
    float: left;
    max-width: 50%;
    position: relative;
  }

  .aif-p-12 {
    width: 100%;
    float: left;
    max-width: 100%;
    position: relative;
  }

  .outer-row{

    > .aif-p-12 {
      margin-bottom: 10px;
    }

  }




}



@import "components/summary";

@each $value in $color-list {

  .background-#{nth($value, 1)} {
    background-color: nth($value, 2);
  }

  .background-dark-#{nth($value, 1)} {
    background-color: darken(nth($value, 2), 14%);
  }

  .background-light-#{nth($value, 1)} {
    background-color: lighten(nth($value, 2), 14%);
  }

  .background-pale-#{nth($value, 1)} {
    background-color: lighten(nth($value, 2), nth($value, 3));
  }

  .bottom-dark-border-#{nth($value, 1)} {
    border-bottom: 4px solid darken(nth($value, 2), 15%);
  }
}