@page {
  size: A4;
  margin: 0;
  padding: 2in;
  background: #cccccc; }
#frameworkSummary {
  font-family: lato, Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #fff;
  margin-left: 1cm;
  margin-right: 1cm;
  margin-top: 2cm; }
  #frameworkSummary * {
    box-sizing: border-box; }
  #frameworkSummary .container-fluid {
    position: relative;
    margin-right: auto;
    margin-left: auto; }
  #frameworkSummary .row {
    position: relative;
    margin: 0 -3px 0 -3px; }
  #frameworkSummary .aif-p-3 {
    width: 25%;
    float: left;
    max-width: 25%;
    position: relative; }
  #frameworkSummary .aif-p-6 {
    width: 50%;
    float: left;
    max-width: 50%;
    position: relative; }
  #frameworkSummary .aif-p-12 {
    width: 100%;
    float: left;
    max-width: 100%;
    position: relative; }
  #frameworkSummary .outer-row > .aif-p-12 {
    margin-bottom: 10px; }

.rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }

#frameworkSummary .aif-p-page-break {
  page-break-after: always; }
#frameworkSummary .summary-section {
  position: relative; }
  #frameworkSummary .summary-section.prep {
    height: 510px; }
  #frameworkSummary .summary-section.imp {
    height: 260px; }
  #frameworkSummary .summary-section.mes {
    height: 780px; }
#frameworkSummary .low-pad-row {
  margin-left: -3px;
  margin-right: -3px; }
#frameworkSummary .low-pad-cell {
  padding: 0 3px 0 3px; }
#frameworkSummary .summary-box {
  color: #404040;
  font-weight: 400; }
#frameworkSummary .prep .section-header {
  height: 512px;
  background-image: url("../images/ss-header-1.png");
  background-repeat: no-repeat;
  background-position-y: 50%; }
#frameworkSummary .imp .section-header {
  height: 300px;
  background-image: url("../images/ss-header-2.png");
  background-repeat: no-repeat;
  background-position-y: 50%; }
#frameworkSummary .imp .summary-box {
  height: 250px; }
#frameworkSummary .imp .aif-p-12 .summary-box {
  -webkit-columns: 200px 2;
  /* Chrome, Safari, Opera */
  -moz-columns: 200px 2;
  /* Firefox */
  columns: 200px 2; }
#frameworkSummary .mes .section-header {
  height: 976px;
  background-image: url("../images/ss-header-3.png");
  background-repeat: no-repeat;
  background-position-y: 50%; }
#frameworkSummary .mes .aif-p-taller .summary-box {
  height: 400px; }
#frameworkSummary .mes .aif-p-12 .summary-box {
  -webkit-columns: 200px 2;
  /* Chrome, Safari, Opera */
  -moz-columns: 200px 2;
  /* Firefox */
  columns: 200px 2; }
#frameworkSummary .section-header {
  background-color: #8a8a8a;
  width: 34px;
  float: left;
  padding-top: 160px;
  background-position: 2px 0;
  background-size: contain; }
#frameworkSummary .section-content {
  margin-left: 42px; }
  #frameworkSummary .section-content h5.summary-heading {
    font-size: .8em;
    height: 24px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 4px 0;
    padding: 0; }
    #frameworkSummary .section-content h5.summary-heading.joined {
      margin-bottom: 0; }
  #frameworkSummary .section-content .summary-box {
    padding: 4px 8px;
    min-height: 200px; }
    #frameworkSummary .section-content .summary-box.first-row {
      max-height: 200px; }
    #frameworkSummary .section-content .summary-box .key {
      margin-right: 8px;
      font-weight: bold; }

.background-red {
  background-color: #d50046; }

.background-dark-red {
  background-color: #8e002f; }

.background-light-red {
  background-color: #ff1d68; }

.background-pale-red {
  background-color: #ffd5e3; }

.bottom-dark-border-red {
  border-bottom: 4px solid #89002d; }

.background-yellow {
  background-color: #ff9a31; }

.background-dark-yellow {
  background-color: #e97700; }

.background-light-yellow {
  background-color: #ffbd78; }

.background-pale-yellow {
  background-color: #fff2e4; }

.bottom-dark-border-yellow {
  border-bottom: 4px solid #e47400; }

.background-green {
  background-color: #00c394; }

.background-dark-green {
  background-color: #007c5e; }

.background-light-green {
  background-color: #0bffc4; }

.background-pale-green {
  background-color: #c3fff1; }

.bottom-dark-border-green {
  border-bottom: 4px solid #00775a; }

.background-light_blue {
  background-color: #0090ff; }

.background-dark-light_blue {
  background-color: #0068b8; }

.background-light-light_blue {
  background-color: #47afff; }

.background-pale-light_blue {
  background-color: #cce9ff; }

.bottom-dark-border-light_blue {
  border-bottom: 4px solid #0065b3; }

.background-dark_blue {
  background-color: #0072af; }

.background-dark-dark_blue {
  background-color: #004368; }

.background-light-dark_blue {
  background-color: #00a1f6; }

.background-pale-dark_blue {
  background-color: #afe3ff; }

.bottom-dark-border-dark_blue {
  border-bottom: 4px solid #004063; }

.background-purple {
  background-color: #8a00b6; }

.background-dark-purple {
  background-color: #54006f; }

.background-light-purple {
  background-color: #c000fd; }

.background-pale-purple {
  background-color: #edb6ff; }

.bottom-dark-border-purple {
  border-bottom: 4px solid #50006a; }

.background-black {
  background-color: #1f1f1f; }

.background-dark-black {
  background-color: black; }

.background-light-black {
  background-color: #434343; }

.background-pale-black {
  background-color: #1f1f1f; }

.bottom-dark-border-black {
  border-bottom: 4px solid black; }

.background-bright_green {
  background-color: #2da41a; }

.background-dark-bright_green {
  background-color: #1c6610; }

.background-light-bright_green {
  background-color: #41dd28; }

.background-pale-bright_green {
  background-color: #2da41a; }

.bottom-dark-border-bright_green {
  border-bottom: 4px solid #1b6210; }

.background-pale_grey {
  background-color: #bfbfbf; }

.background-dark-pale_grey {
  background-color: #9b9b9b; }

.background-light-pale_grey {
  background-color: #e3e3e3; }

.background-pale-pale_grey {
  background-color: #f2f2f2; }

.bottom-dark-border-pale_grey {
  border-bottom: 4px solid #999999; }

/*# sourceMappingURL=aif-summary.css.map */
