.background-red {
  background-color: #d50046; }

.background-dark-red {
  background-color: #8e002f; }

.background-light-red {
  background-color: #ff1d68; }

.bottom-dark-border-red {
  border-bottom: 4px solid #89002d; }

.background-yellow {
  background-color: #ff9a31; }

.background-dark-yellow {
  background-color: #e97700; }

.background-light-yellow {
  background-color: #ffbd78; }

.bottom-dark-border-yellow {
  border-bottom: 4px solid #e47400; }

.background-green {
  background-color: #00c394; }

.background-dark-green {
  background-color: #007c5e; }

.background-light-green {
  background-color: #0bffc4; }

.bottom-dark-border-green {
  border-bottom: 4px solid #00775a; }

.background-light_blue {
  background-color: #0090ff; }

.background-dark-light_blue {
  background-color: #0068b8; }

.background-light-light_blue {
  background-color: #47afff; }

.bottom-dark-border-light_blue {
  border-bottom: 4px solid #0065b3; }

.background-dark_blue {
  background-color: #0072af; }

.background-dark-dark_blue {
  background-color: #004368; }

.background-light-dark_blue {
  background-color: #00a1f6; }

.bottom-dark-border-dark_blue {
  border-bottom: 4px solid #004063; }

.background-purple {
  background-color: #8a00b6; }

.background-dark-purple {
  background-color: #54006f; }

.background-light-purple {
  background-color: #c000fd; }

.bottom-dark-border-purple {
  border-bottom: 4px solid #50006a; }

.background-black {
  background-color: #1f1f1f; }

.background-dark-black {
  background-color: black; }

.background-light-black {
  background-color: #434343; }

.bottom-dark-border-black {
  border-bottom: 4px solid black; }

.background-bright_green {
  background-color: #2da41a; }

.background-dark-bright_green {
  background-color: #1c6610; }

.background-light-bright_green {
  background-color: #41dd28; }

.bottom-dark-border-bright_green {
  border-bottom: 4px solid #1b6210; }

.background-pale_grey {
  background-color: #bfbfbf; }

.background-dark-pale_grey {
  background-color: #9b9b9b; }

.background-light-pale_grey {
  background-color: #e3e3e3; }

.bottom-dark-border-pale_grey {
  border-bottom: 4px solid #999999; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
body {
  font-family: lato, sans-serif;
  background-color: #4c4c4c; }

#frameworkGridWrapper {
  position: relative;
  color: #fff; }

.base-framework {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.css-form input.ng-invalid.ng-touched {
  background-color: #FA787E; }

.css-form input.ng-valid.ng-touched {
  background-color: #78FA89; }

.css-form select.ng-invalid.ng-touched {
  background-color: #FA787E; }

.css-form select.ng-valid.ng-touched {
  background-color: #78FA89; }

.form-validation-error {
  color: #af0000;
  font-size: 0.9rem; }

h4 {
  color: #fff;
  font-size: 1.2rem; }

.aif-button {
  max-height: 40px;
  font-size: 15px;
  width: 100%;
  color: #fff;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  max-width: 135px;
  line-height: 22px;
  border-radius: 0; }
  .aif-button.aif-button-wide {
    max-width: 168px; }
  .aif-button.aif-button-free {
    width: auto;
    max-width: none;
    padding: 2px 6px; }

.control-row {
  line-height: 20px; }
  .control-row .aif-button {
    max-width: 135px;
    line-height: 24px;
    height: 30px;
    font-size: 13px; }
    .control-row .aif-button.aif-button-inline {
      width: auto;
      max-width: unset;
      display: inline-block;
      padding-left: 6px;
      padding-right: 6px; }
  .control-row .account-button {
    background-size: contain;
    height: 26px;
    width: 26px;
    display: inline-block;
    background: url("../images/avatar.png") no-repeat;
    cursor: pointer; }
  .control-row h4 {
    display: inline-block;
    margin-bottom: 0;
    cursor: pointer; }
    .control-row h4 a {
      line-height: 20px;
      vertical-align: bottom; }
  .control-row .framework-name {
    color: #9dea9a;
    font-style: italic;
    text-align: right;
    margin-right: 6px;
    cursor: pointer; }
    .control-row .framework-name h4 {
      color: #00c394;
      line-height: 20px;
      vertical-align: middle; }

.pull-right {
  float: right; }

h2 {
  font-size: 35px;
  font-family: lato, sans-serif;
  font-weight: 300;
  color: #fff; }

.choose-fw-layout {
  margin-bottom: 20px;
  padding: 0 10px;
  position: relative; }
  .choose-fw-layout .low-pad-cell {
    padding: 5px; }
  .choose-fw-layout .choose-fw-tile {
    position: relative;
    padding: 10px;
    width: 100%;
    height: 90px;
    cursor: pointer; }
    .choose-fw-layout .choose-fw-tile.selected {
      border: 2px solid #fff;
      padding: 8px; }
      .choose-fw-layout .choose-fw-tile.selected .trash-icon {
        bottom: 4px;
        right: 4px; }
    .choose-fw-layout .choose-fw-tile.shake {
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px; }
    .choose-fw-layout .choose-fw-tile .trash-icon {
      background: url("../images/trash-icon.png") no-repeat;
      background-size: contain;
      height: 26px;
      width: 26px;
      position: absolute;
      bottom: 6px;
      right: 6px; }
    .choose-fw-layout .choose-fw-tile .text-link.sml {
      position: absolute;
      bottom: 6px;
      right: 6px; }
      .choose-fw-layout .choose-fw-tile .text-link.sml a {
        font-style: normal;
        margin-left: 12px; }
        .choose-fw-layout .choose-fw-tile .text-link.sml a:hover {
          text-decoration: underline; }

.low-pad-cell {
  padding-right: 5px;
  padding-left: 5px; }

.main {
  padding: 50px 60px; }

.bg-cloak {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 4; }

.aif-input {
  color: #fff;
  font-family: lato, sans-serif;
  position: absolute;
  left: 0;
  top: 0; }
  .aif-input .info-button {
    width: 24px;
    height: 24px;
    background-color: #fff;
    color: #8e8e8e;
    font-size: 20px;
    font-weight: 500;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    margin: 6px;
    float: right; }
  .aif-input .header {
    padding: 8px 0 0 15px;
    height: 50px;
    margin-bottom: 10px; }
    .aif-input .header h3 {
      display: inline-block;
      font-size: 25px;
      font-weight: 300;
      color: #fff; }
  .aif-input .section {
    padding: 8px 15px; }
    .aif-input .section h4 {
      font-size: 23px;
      font-weight: 300;
      color: #fff; }
    .aif-input .section p.sub-heading {
      font-size: 20px;
      line-height: 24px;
      padding: 0;
      display: inline-block;
      width: 90%; }
    .aif-input .section .inputs-container {
      position: relative; }
      .aif-input .section .inputs-container .info-button {
        position: absolute;
        right: 0;
        top: -38px; }
    .aif-input .section textarea {
      font-size: 16px;
      width: 100%;
      height: 155px;
      resize: none;
      border: none; }

.info {
  background-color: #eaeaea;
  padding: 14px 16px;
  font-size: 14px;
  color: #8a8a8a;
  position: absolute;
  left: 0;
  top: 0; }
  .info .lead-in {
    text-transform: capitalize;
    font-weight: bold; }
  .info p {
    padding: 0; }
  .info a.further-info-link {
    text-decoration: underline; }

.entries {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%; }

.login-row-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  color: #fff; }
  .login-row-container h3 {
    font-size: 1.2rem; }
    .login-row-container h3.login-message {
      padding-right: 20px;
      text-align: right;
      margin-bottom: 20px; }

.aif-tile {
  margin-top: 10px;
  height: 200px;
  position: relative;
  cursor: pointer;
  font-family: lato, sans-serif;
  padding: 8px 0 0 15px; }
  .aif-tile h4.login-message {
    line-height: 1.8rem; }
  .aif-tile.save-box {
    background-color: #00c394; }
  .aif-tile .account-layout {
    max-width: 450px; }
    .aif-tile .account-layout .em {
      font-style: italic; }
    .aif-tile .account-layout a {
      font-style: italic;
      color: #0093e2; }
      .aif-tile .account-layout a:hover {
        color: #0072af;
        text-decoration: underline; }
  .aif-tile.login-box {
    background-color: #292b2c; }
  .aif-tile.login-box, .aif-tile.save-box {
    cursor: default;
    min-height: 410px;
    height: auto;
    padding: 8px 15px; }
    .aif-tile.login-box.long, .aif-tile.save-box.long {
      min-height: 620px; }
    .aif-tile.login-box a, .aif-tile.save-box a {
      cursor: pointer; }
    .aif-tile.login-box .heading-link, .aif-tile.save-box .heading-link {
      font-style: italic;
      color: #0072af; }
    .aif-tile.login-box .text-link, .aif-tile.save-box .text-link {
      display: inline-block;
      margin-left: 15px;
      font-style: italic;
      cursor: pointer; }
    .aif-tile.login-box .login-box-group, .aif-tile.save-box .login-box-group {
      display: inline-block;
      float: left;
      width: 45%;
      margin-right: 30px; }
      .aif-tile.login-box .login-box-group:last-child, .aif-tile.save-box .login-box-group:last-child {
        margin-right: 0; }
      .aif-tile.login-box .login-box-group .aif-button, .aif-tile.save-box .login-box-group .aif-button {
        margin-right: 6px; }
      .aif-tile.login-box .login-box-group .text-link.lge, .aif-tile.save-box .login-box-group .text-link.lge {
        font-size: 1.2rem; }
  .aif-tile p.submit-text {
    color: #fff;
    padding: 8px 10px;
    font-size: 18px;
    font-weight: 300;
    font-family: lato, sans-serif;
    line-height: 23px; }

.anchor-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%; }
  .anchor-bottom .button-label {
    font-size: 25px;
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 20px; }

.circle-border {
  position: absolute;
  opacity: 1;
  width: 51px;
  height: 51px;
  right: 12px;
  bottom: 10px;
  border-radius: 50%;
  border: 3px solid white;
  font-size: 28px;
  font-weight: 700;
  line-height: 44px;
  color: #fff;
  text-align: center; }

.border-caret {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 40px;
  height: 18px;
  float: right; }
  .border-caret .caret-left {
    position: relative;
    left: 0px;
    top: 7px;
    width: 21px;
    height: 3px;
    background-color: #fff;
    transform: translate(0px, 0px) translateZ(0px) rotate(-45deg) scale(1, 1); }
  .border-caret .caret-right {
    position: relative;
    left: 13px;
    top: 4px;
    width: 21px;
    height: 3px;
    background-color: #fff;
    transform: translate(0px, 0px) translateZ(0px) rotate(45deg) scale(1, 1); }

/*# sourceMappingURL=aif.css.map */
