$red: rgb(213, 0, 70);
$yellow: rgb(255, 154, 49);
$green: rgb(0, 195, 148);
$light_blue: rgb(0, 144, 255);
$dark_blue: rgb(0, 114, 175);
$purple: rgb(138, 0, 182);
$black: rgb(31, 31, 31);
$bright_green: rgb(45, 164, 26);

$color-list: (
        red $red,
        yellow $yellow,
        green $green,
        light_blue $light_blue,
        dark_blue $dark_blue,
        purple $purple,
        black $black,
        bright_green $bright_green
);

@each $value in $color-list {

  .background-#{nth($value, 1)} {
    background-color: nth($value, 2);
  }

  .background-dark-#{nth($value, 1)} {
    background-color: darken(nth($value, 2), 14%);
  }

  .background-light-#{nth($value, 1)} {
    background-color: lighten(nth($value, 2), 14%);
  }

  .bottom-dark-border-#{nth($value, 1)} {
    border-bottom: 4px solid darken(nth($value, 2), 14%);
  }
}




h2 {
  font-size: 35px;
  font-family: lato, sans-serif;
  font-weight: 300;
  color: #fff;
}



.low-pad-cell {
  padding-right: 5px;
  padding-left: 5px;
}

.main {
  padding: 50px 60px;
}

.bg-cloak {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.56);
  z-index: 4;
}

.input {

  color: #fff;
  font-family: lato, sans-serif;

  .header {
    height: 40px;

    h3 {
      font-size: 25px;
      font-weight: 300;
      color: #fff;

    }
  }

  .section {

    h4 {
      font-size: 23px;
      font-weight: 300;
      color: #fff;
    }

    p {
      font-size: 20px;
    }

  }
}

.info {

}

.entries {
  position: absolute;
  padding: 50px 60px;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
}

.aif-tile {
  margin-top: 10px;
  height: 200px;
  position: relative;
  cursor: pointer;
  font-family: lato, sans-serif;

  h2 {
    padding: 8px 0 0 15px;
  }

  p {
    color: #fff;
    padding: 18PX 22px;

    font-size: 18px;
    font-weight: 300;
    font-family: lato, sans-serif;
  }

}

.anchor-bottom {
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;

  .button-label {
    font-size: 25px;
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }

}

.circle-border {

  position: absolute;
  opacity: 1;
  width: 51px;
  height: 51px;
  right: 12px;
  bottom: 10px;
  border-radius: 50%;
  border: 3px solid white;
  font-size: 28px;
  font-weight: 700;
  line-height: 44px;
  color: #fff;
  text-align: center;

}

.border-caret {
  position: relative;
  top: 11px;
  width: 30px;
  height: 18px;
  right: 0;

  .caret-left {
    position: relative;
    left: -2px;
    top: 7px;
    width: 21px;
    height: 3px;
    border: 0 solid rgb(255, 255, 255);
  }

  .caret-right {
    position: relative;
    left: 12px;
    top: 7px;
    width: 21px;
    height: 3px;
    border: 0px solid rgb(255, 255, 255);
  }

}